<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.guuguo.fuliba">

    <application>
        <activity android:name="com.guuguo.baselib.mvvm.FullscreenWebViewActivity" />
    </application>
</manifest>