# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Log Files
*.log

/build
/*/build/

# Local configuration file (sdk path, etc)
local.properties

*.iml
.gradle
/androidLib/*/build

# User-specific configurations
.idea/
#.idea/workspace.xml
#.idea/tasks.xml
#.idea/.name
#.idea/compiler.xml
#.idea/copyright/profiles_settings.xml
#.idea/encodings.xml
#.idea/misc.xml
#.idea/modules.xml
#.idea/scopes/scope_settings.xml
#.idea/vcs.xml
#.idea/caches/

/captures
.externalNativeBuild

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db